In [3]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
import json

### Extract the contacts.xlsx Data.

In [154]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df = contact_info_df.reset_index(drop=True)
contact_info_df

                                                                                                  contact_info
0                     {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1                            {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2                              {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3                    {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4                          {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
..                                                                                                         ...
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

[1000 rows x 1 columns]

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [155]:
# Iterate through the contact_info_df and convert each row to a dictionary.
contact_info_df['real']= contact_info_df['contact_info'].apply(lambda x: json.loads(x))
contact_info_df['contact_id']= contact_info_df['real'].apply(lambda x: x["contact_id"])
contact_info_df = contact_info_df.drop('contact_info', axis=1)

In [156]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contact_info_df['name']= contact_info_df['real'].apply(lambda x: x["name"])
contact_info_df['email']= contact_info_df['real'].apply(lambda x: x["email"])
contact_info = contact_info_df.drop('real', axis=1)

In [157]:
# Check the datatypes.
contact_info.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [158]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info[['first_name', 'last_name']]= contact_info['name'].str.split(' ', n=1, expand=True)

# Drop the contact_name column
contact_info = contact_info.drop('name', axis=1)

In [159]:
# Reorder the columns
contact_info = contact_info[['contact_id','first_name','last_name','email']]
contact_info

,contact_id,first_name,last_name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [160]:
# Check the datatypes one more time before exporting as CSV file.
contact_info.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [161]:
# Export the DataFrame as a CSV file. 
contact_info.to_csv("Resources/contacts.csv", encoding='utf8', index=False)